{% extends './base/base.html' %}

{% from "_macro.html" import render_field %}

{% block content %}
    <div class="container mt-4 mb-5">
        
        <p>
            Para utilizar la aplicación ingrese todos los datos necesarios y presione el botón "Enviar". A continuación
            el programa le mostrará el resultado de la predicción. También puede utilizar el botón "Reiniciar"
            para borrar todos los campos del formulario.
        </p>
        <p>
            Si desea conocer el significado de cada índice u otra información de interés, por favor
            diríjase a la página <em>Acerca de</em> ubicada en la parte superior en la barra de navegación.
        </p>
            <form class="border rounded" id="formulario" name="form", method="POST">
                <div class="mx-3 mb-3">
                    <br>
                    {{ render_field(form.input1, class="form-control", placeholder="Ingrese Op. In./(NWC+PP&E)", id="input1") }}
                    <br>
                    {{ render_field(form.input2, class="form-control", placeholder="Ingrese Op. In./Interest Expense", id="input2") }}
                    <br>
                    {{ render_field(form.input3, class="form-control", placeholder="Ingrese Working Capital Ratio", id="input3") }}
                    <br>
                    {{ render_field(form.input4, class="form-control", placeholder="Ingrese RoE", id="input4") }}
                    <br>
                    {{ render_field(form.input5, class="form-control", placeholder="Ingrese Asset Turnover", id="input5") }}
                    <br>
                    {{ render_field(form.input6, class="form-control", placeholder="Ingrese Gross Profit Margin", id="input6") }}
                    <br>
                    <button class="btn bg-green-udea" type="submit" value="Submit" onclick="showElement()">Enviar</button>
                    <button class="btn bg-green-udea" type="submit" name="resetBtn" value="resetBtn" onclick="hideElement()">Reiniciar</button>
                    <br>
                </div>
            </form>
        <div></div>
        <p id="prediction" style="text-align: center;">{{ output }}</p>
        <p class="mt-2">
            La predicción representa el rendimiento de las acciones de la empresa en un año. Por ejemplo
            si el resultado fue 0.1520; significa que en un año las acciones de la empresa tendrán un
            porcentaje de crecimiento del 15.20%.
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='./js/index.js')}}"></script>
    <script src="{{url_for('static', filename='./js/jquery.js')}}"></script>
    <script type="text/javascript"></script>
{% endblock %}